body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.milkdown {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.milkdown .editor {
    padding: 16px;
    outline: none;
}

#sidebar {
    padding: 8px;
    width: 250px;
    background-color: var(--color-surface);
}
